In [4]:
import pyodbc
server = 'finalprojectdata.database.windows.net'
database = 'v2-project-data'
username = 'finalproject1'
password = 'firedispatch1!'
driver= '{ODBC Driver 17 for SQL Server}'

with pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        cursor.execute("SELECT TOP 3 * FROM Fire_Incident_Dispatch_Data_2")
        row = cursor.fetchone()
        while row:
            print (str(row[0]) + " " + str(row[1]))
            row = cursor.fetchone()

500127850130001.0 2005-01-01 00:00:01
500133070120471.0 2005-01-01 00:00:03
500103630140001.0 2005-01-01 00:01:02

In [5]:
import pandas as pd, pyodbc   

server = 'finalprojectdata.database.windows.net'
database = 'v2-project-data'
username = 'finalproject1'
driver= '{ODBC Driver 17 for SQL Server}'
con_string = 'DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password


# con_string = 'DRIVER={SQL Server};SERVER='+ <server> +';DATABASE=' + <database>
cnxn = pyodbc.connect(con_string)
query = """
SELECT TOP 3 * FROM Fire_Incident_Dispatch_Data_2
"""
result_port_map = pd.read_sql(query, cnxn)
result_port_map

,STARFIRE_INCIDENT_ID,INCIDENT_DATETIME,ALARM_BOX_BOROUGH,ALARM_BOX_NUMBER,ALARM_BOX_LOCATION,INCIDENT_BOROUGH,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,...,FIRST_ACTIVATION_DATETIME,FIRST_ON_SCENE_DATETIME,INCIDENT_CLOSE_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,VALID_INCIDENT_RSPNS_TIME_INDC,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,ENGINES_ASSIGNED_QUANTITY,LADDERS_ASSIGNED_QUANTITY,OTHER_UNITS_ASSIGNED_QUANTITY
0,5.001279e+14,2005-01-01 00:00:01,RICHMOND / STATEN ISLAND,2785,MERRYMOUNT ST & NOME AVE,RICHMOND / STATEN ISLAND,10314,121,51,502,...,01/01/2005 12:00:56 AM,01/01/2005 12:06:38 AM,01/01/2005 12:15:56 AM,N,Y,397,357,1,1,0
1,5.001331e+14,2005-01-01 00:00:03,BRONX,3307,ARTHUR AVE & 183 ST,BRONX,10458,48,15,206,...,01/01/2005 12:01:51 AM,01/01/2005 12:04:23 AM,01/01/2005 12:07:03 AM,N,Y,260,250,1,0,0
2,5.001036e+14,2005-01-01 00:01:02,BROOKLYN,363,TOMPKINS & PARK AVES,BROOKLYN,11206,79,36,303,...,01/01/2005 12:01:25 AM,01/01/2005 12:03:28 AM,01/01/2005 12:13:20 AM,N,Y,146,139,1,0,0